<!DOCTYPE html>
<html>
<head>
    <title>Meal Ticket</title>
</head>
<body>
<h1>Meal Ticket</h1>
<form action="/result" method="get">
    <label>Meal:</label>
    <select name="meal">
        {% for meal in meals %}
        <option value="{{ meal }}">{{ meal }} (${{ meals[meal] }})</option>
        {% endfor %}
    </select><br><br>

    <label>Drink:</label>
    <select name="drink">
        {% for drink in drinks %}
        <option value="{{ drink }}">{{ drink }} (${{ drinks[drink] }})</option>
        {% endfor %}
    </select><br><br>

    <label>Quantity:</label>
    <input type="number" name="qty" min="1" value="1"><br><br>

    <label>Senior Discount:</label>
    <input type="checkbox" name="senior"><br><br>

    <label>Special Instructions:</label><br>
    <textarea name="special" rows="3" cols="30"></textarea><br><br>

    <input type="submit" value="Submit">
</form>
<br>
<a href="/manager">Manager Page</a>
</body>
</html>
