.grid {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
}

.box {
    width: 100px;
    height: 100px;
}

.a {
    background: lightcoral;
}

.b {
    background: lightblue;
}

.c {
    background: lightgreen;
}

.d {
    background: lightgoldenrodyellow;
}