div {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}

.d1 {
    background-color: red;
}

.d2 {
    background-color: orange;
}

.d3 {
    background-color: yellow;
}